<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clothing Store</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header>
    <h1>Code Couture Corner</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </header>